body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    overflow-x: hidden;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.main-color{
    background-color: #CFDAFF;
}
.main{
    color: #7058B6;
}
h1{
    font-size: 4vw;
}
p{
    font-size: calc(14px + 1vw);
}
.text-shadow {
    text-shadow: 20px 7px 38px #4325648c;
}
.center{
    margin-left: 100px;
    margin-top: 220px;
    z-index: 50;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.big-border {
    border-radius: 60px;
    z-index: 2;
    display: block;
    margin-top: 70px;
    min-height: 360px;
    min-width: 400px;
    max-width: 830px;
    max-height: 800px;
}
.big-border img {
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
.but-fio{
    background-color: #b78be8;
    max-width: 380px;
    min-width: 160px;
    margin-left: 40px;
    margin-top: 20px;
    height: 69px;
    text-align: center;
    line-height: 60px;
    border-radius: 26px;
}
.color-tx-fff{
    color: #FFF;
}
.line-title{
    max-width: 450px;
    margin-left: 40px;
    margin-bottom: 100px;
}
.but-yel{
    max-width: 380px;
    min-width: 160px;
    height: 69px;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 26px;
    background-color: #FEDB5D;
}